{%extends 'nav.html'%}
{%block content%}
{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>Detail</title>
</head>

    <!-- Container for demo purpose -->
<div class="container my-24 px-6 mx-auto">

    <!-- Section: Design Block -->
    <section class="mb-32 text-gray-800 text-center md:text-left">
  
      <h2 class="text-3xl font-bold mb-12 text-center">Pozole</h2>
  
      <div class="grid md:grid-cols-2 gap-x-6 xl:gap-x-12 items-center mb-12">
        <div class="mb-6 md:mb-0">
          <div
            class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg"
            data-mdb-ripple="true" data-mdb-ripple-color="light">
            <img src="{%static 'poz.jpg'%}"
              class="w-full" alt="Louvre" />
            <a href="#!">
              <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
                style="background-color: rgba(251, 251, 251, 0.2)"></div>
            </a>
          </div>
        </div>
  
        <div class="mb-6 md:mb-0">
          <h3 class="text-2xl font-bold mb-3">Caldo</h3>
          <!-- AUTOR DE LA RECETA -->
          <!-- <p class="text-gray-500 mb-6">
            <small>Published <u>13.01.2022</u> by
              <a href="" class="text-gray-900">Anna Maria Doe</a></small>
          </p> -->
          <p class="text-gray-500">
            Ut pretium ultricies dignissim. Sed sit amet mi eget urna
            placerat vulputate. Ut vulputate est non quam dignissim
            elementum. Donec a ullamcorper diam.
          </p>
          <br>
          <br>
          <button class="btn btn--secondary">Like</button>
          <button class="btn btn--primary">Dislikes</button>
        </div>
      </div>
  
    </section>
    
  
  </div>     
</body>
</html>
{%include 'footer.html'%}
{%endblock%}