
{%block content%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>Terms</title>
</head>
<body>
    <div class="bg-gray-200 h-full">
        <h1 class="items-center justify-center m-auto flex pt-24 font-bold">Estos términos y condiciones ("Términos") rigen el acceso y uso de la aplicación móvil de Recetas del Mundo (la "Aplicación") proporcionada por [Nombre de la Empresa] ("Nosotros", "Nos" o "Nuestro"). Al acceder o utilizar la Aplicación, aceptas estos Términos en su totalidad. Si no estás de acuerdo con estos Términos, no utilices la Aplicación.

            Uso de la Aplicación
            La Aplicación se proporciona para tu uso personal y no comercial. Te concedemos una licencia limitada, no exclusiva y no transferible para acceder y utilizar la Aplicación en tu dispositivo móvil. No puedes utilizar la Aplicación con fines ilegales o no autorizados.
            
            Contenido
            La Aplicación ofrece una selección de recetas de todo el mundo para su uso y disfrute. Nosotros no somos responsables de la precisión, integridad, legalidad, fiabilidad o disponibilidad de ninguna receta. Además, no somos responsables del uso que puedas dar a dichas recetas, incluyendo pero no limitado a cualquier daño que pueda resultar del uso de la receta. Las recetas ofrecidas en la Aplicación son solo para fines informativos y educativos.
            
            Propiedad Intelectual
            Nosotros somos los propietarios o licenciatarios de todos los derechos de propiedad intelectual relacionados con la Aplicación, incluyendo pero no limitado a texto, gráficos, imágenes, música, software y código fuente. No se otorga ninguna licencia o derecho sobre dichos derechos de propiedad intelectual, excepto lo expresamente establecido en estos Términos.
            
            Modificaciones y Actualizaciones
            Nos reservamos el derecho de actualizar y modificar estos Términos en cualquier momento. Cualquier modificación entrará en vigor de inmediato después de su publicación en la Aplicación. Tu uso continuo de la Aplicación después de la publicación de los Términos actualizados significa que aceptas los Términos actualizados.
            
            Privacidad
            Respetamos tu privacidad y nos comprometemos a proteger la información personal que recopilamos a través de la Aplicación. Consulta nuestra Política de Privacidad para obtener más información sobre cómo recopilamos, utilizamos y divulgamos tu información personal.
            
            Ley aplicable y jurisdicción
            Estos Términos se regirán e interpretarán de acuerdo con las leyes del país donde se encuentra la empresa. Cualquier disputa que surja en relación con estos Términos será sometida a la jurisdicción exclusiva de los tribunales competentes en ese país.
            
            Contacto
            Si tienes alguna pregunta o comentario sobre estos Términos, contáctanos a través de la sección de "Contáctanos" en la Aplicación.</h1>
            <a href="../reg"><button><h1 class="m-3 bg-cyan-500 p-2 rounded-xl">Volver al registro</h1></a></button></div>
</body>
</html>
{%include 'footer.html'%}
{%endblock%}